.news-container {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin: 0 0 50px 0;
}

.news-card {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 0 20px;
}

.errorPage {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 100vw;
    height: 100vh;
    background-color: black;
    color: white;
}

.errorPage h1 {
    font-size: 24px;
}

.errorPage p {
    padding: 16px 20px;
    border: 0px solid rgba(255, 255, 255, 0.352);
    border-left-width: 1px;
    font-size: 15px;
}

@media only screen and (max-width:330px) {
    .errorPage {
        flex-direction: column;
        gap: 10px;
    }

    .errorPage p {
        border: none;
        text-align: center;
    }
}